.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url("react-resizable-handle.svg");
  /* background-color: aquamarine; */
  background-position: bottom right;
  padding: 0 5px 5px 0; /* top right bottom left */
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: grab;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: grab;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: grab;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: grab;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: grab;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: grab;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
